doctype html
html
  head
    meta(charset='utf-8')
    title Address de Color
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Aboot
    nav
      ul
        li: a(href='/') home
        li: a(href='/about') about
        li: a(href='/faq') faq
        li: a(href='/contact') contact
        li: a(href='/people') peoploidz
